.i-tg {
	width: 32px;
	height: 32px;
	fill: $gray;
}

.i-left {
	width: 13px;
	height: 22px;
	fill: $white;
}

.i-right {
	width: 13px;
	height: 22px;
	fill: $white;
}

.i-tick {
	width: 23px;
	height: 17px;
	fill: $purple;
}

.i-circle {
	width: 20px;
	height: 20px;
	fill: $purple;
}

.i-burger {
	width: 32px;
	height: 28px;
	fill: $gray;
}