.mb5 {
	margin-bottom: 5px;
}
.mb10 {
	margin-bottom: 10px;
}
.mb15 {
	margin-bottom: 15px;
}
.mb20 {
	margin-bottom: 20px;
}
.mb25 {
	margin-bottom: 25px;
}
.mb30 {
	margin-bottom: 30px;
}
.mb35 {
	margin-bottom: 35px;
}
.mb40 {
	margin-bottom: 40px;
}
.mb45 {
	margin-bottom: 45px;
}
.mb50 {
	margin-bottom: 50px;
}
.mb55 {
	margin-bottom: 55px;
}
.mb60 {
	margin-bottom: 60px;
}
.mb65 {
	margin-bottom: 65px;
}
.mb70 {
	margin-bottom: 70px;
}
.mb75 {
	margin-bottom: 75px;
}
.mb80 {
	margin-bottom: 80px;
}
.mb85 {
	margin-bottom: 85px;
}
.mb90 {
	margin-bottom: 90px;
}
.mb95 {
	margin-bottom: 95px;
}
.mb100 {
	margin-bottom: 100px;
}
.mb105 {
	margin-bottom: 105px;
}
.mb110 {
	margin-bottom: 110px;
}
.mb115 {
	margin-bottom: 115px;
}
.mb120 {
	margin-bottom: 120px;
}