$lg: 992px;
$md: 768px;
$sm: 576px;
$black: #222;
$white: white;
$gray: #9c9c9c;
$pink: #f7dff2;
$purple: #cb19a4;
$yellow-btn-gradient: linear-gradient(350.31deg, #ffe296 -8.19%, #ffcb46 23.93%, #fff2c6 128.87%);
$blue-btn-gradient: linear-gradient(350.31deg, #cdeeff -8.19%, #29b6ff 23.93%, #c0eaff 128.87%);
$br10: 10px 10px 60px 10px;
$br7: 7px 7px 60px 7px;